{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  </body>
  <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary mb-4 border " style="background-color: #0269c2;">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'mysites:index' %}">Home</a>
          {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto ">
              <a class="text-end nav-link disabled text-white">Hello, {{ user.first_name.title }}</a>
              <a class="navbar-brand text-white" aria-current="page" href="{% url 'users:logout' %}">Log out</a>
              {% else %}
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto ">
                  <a class="nav-link text-white" href="{% url 'users:register' %}">Register</a>
                  <a class="nav-link text-white" href="{% url 'users:login' %}">Log in</a>
                </div>
              </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

<body style="background-color: #e6f1fb;">
  <div class="p-2">
    <div class=" text-primary "><h1>Our customer is our first priority</h1></div>
  </div>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  {% block content %}
  <div class="d-grid gap-2">
    <div class="p-2 fw-semibold border "style="border-white">
      <a href="{% url 'mysites:customer_view' %}">Customer Portal</a> -
      <a href="{% url 'mysites:info' %}">Administrator</a> 
    </div>
  </div>
  {% endblock content %}
  
    
    {% for message in messages %}
    <div class="p-2">
      <div class=" text-success "><h1>{{message}}</h1></div>
    </div>
    
    {%endfor%}
  
</body>
</html>
